@model IEnumerable<BilingualLearningSystem.Models.Admin.AuditLog>

<div class="container mt-4">
    <h3>System Audit Trail</h3>
    <table class="table table-sm table-striped border">
        <thead>
            <tr>
                <th>Time</th>
                <th>Admin</th>
                <th>Action</th>
                <th>Target User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.OrderByDescending(x => x.Timestamp))
            {
                <tr>
                    <td>@log.Timestamp</td>
                    <td>@log.AdminEmail</td>
                    <td><strong>@log.Action</strong></td>
                    <td>@log.TargetUser</td>
                </tr>
            }
        </tbody>
    </table>
</div>